{% extends 'layout.html.twig' %}

{% block meta %}
	<meta name="keyword" content="cv,oscar,marie,taillefer,marie--taillefer, Curriculum, Vitae">
	<meta name="description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur." />
	<meta name="robots" content="all, index, follow" />

	<link rel="canonical" href="http://www.oscarmarietaillefer.com/portfolio" />
	
	<meta property="og:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae" />
	<meta property="og:type" contenu="website" />
	<meta property="og:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta property="og:description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.">
	<meta property="og:url" content="www.oscarmarietaillefer.com" />

	<meta name="twitter:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae">
	<meta property="twitter:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta name="twitter:description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.">
	<meta name="twitter:site" content="http://www.oscarmarietaillefer.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block headtitle %}
	Oscar Marie--Taillefer | Portfolio
{% endblock %}

{% block title %}
	<a title="Télécharger le CV" href="doc/cv_oscar_marie--taillefer.pdf" download="CV Oscar MARIE--TAILLEFER.pdf">Télécharger le CV</a>
	<h1>Mes projets</h1>
{% endblock %}

{% block content %}
	<section>
		<div class="cards">
			{% for card in cards %}
			<div class="card">
				<a href="/portfolio{{ card.id }}">
					<div class="card_thumb"> 
						<img src="img/projets/{{card.img_path }}">
					</div>
					<div class="card_body">
						<div class="card_category">
							{{ card.category }}
						</div>
						<div class="card_title">
							{{ card.title }}
						</div>
						<div class="card_subtitle">
							{{ card.subtitle }}
						</div>
						<div class="card_description">
							{{ card.meta_description }}
						</div>
						<div class="card_footer">
							<span class="icone icone-comment"> </span>{{ card.date }}
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block addcss %}
	<link rel="stylesheet" href="css/portfolio.css" />
{% endblock %}