{% extends 'layout.html.twig' %}

{% block meta %}
	<meta name="keyword" content="cv,oscar,marie,taillefer,marie--taillefer, Curriculum, Vitae">
	<meta name="description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur." />
	<meta name="robots" content="all, index, follow" />
	
	<meta property="og:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae" />
	<meta property="og:type" contenu="website" />
	<meta property="og:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta property="og:description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.">
	<meta property="og:url" content="www.oscarmarietaillefer.com" />

	<meta name="twitter:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae">
	<meta property="twitter:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta name="twitter:description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.">
	<meta name="twitter:site" content="http://www.oscarmarietaillefer.com">

	<link rel="canonical" href="http://www.oscarmarietaillefer.com/portfolio/{{ card.id}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block headtitle %}
	Oscar Marie--Taillefer | {{ card.title }}
{% endblock %}

{% block title %}
	<h1>Projet : {{ card.title }}</h1>
	<img src="img/projets/thumb/{{ card.img_path }}" alt=""/>
{% endblock %}

{% block content %}
	<section>
		<h2>{{ card.subtitle }}</h2>
		<div class="project_description markdown-body">
			{{ card.description | markdown }}
		</div>
	</section>
{% endblock %}

{% block addcss %}
	<link rel="stylesheet" href="css/portfolio.css" />
	<link rel="stylesheet" type="text/css" href="css/markdown.css">
{% endblock %}